/*======================================
  #Header
======================================*/
.top {
  background-color: var(--background-dark);
  height: var(--header-height);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 500;
  transition: background 0.4s ease, box-shadow 0.4s ease;
}
.top .top-inner {
  height: var(--header-height);
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto 1fr;
  grid-template-columns: 1fr auto 1fr;
      grid-template-areas: "left center right";
  max-width: var(--grid-width);
  padding: 0 var(--grid-gutter);
}
@media only screen and (max-width: 992px) {
  .top .top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.top.top--light {
  background: var(--white);
  box-shadow: 0 0 0 1px var(--border-dark);
}
.top.top--light:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.top.top--small-width .top-inner {
  max-width: var(--grid-width-small);
}
.top.top--big-width .top-inner {
  max-width: var(--grid-width-big);
}
.top.top--full-width .top-inner {
  max-width: 100%;
}
.pre-top-visible .top {
  top: var(--pre-top-height);
}
@media only screen and (max-width: 992px) {
  .pre-top-visible .top {
    top: 0;
  }
}
.scroll .top {
  position: fixed;
  top: 0!important;
}
.scroll .top.top--light {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}
.top.top--scroll-bg {
  background: transparent;
  box-shadow: none;
}
.top.top--scroll-bg:hover {
  box-shadow: none;
}
.scroll .top.top--scroll-bg {
  background-color: var(--background-dark);
}
.scroll .top.top--scroll-bg.top--light {
  background: var(--white);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}
.top__left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
  padding-right: 20px;
  height: var(--header-height);
}
@media only screen and (max-width: 992px) {
  .top__left {
    padding: 0 !important;
  }
}
.top__middle {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: center;
}
.top__right {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.top.top--navigation-center .top-inner {
  -ms-grid-columns: 1fr auto 1fr;
  grid-template-columns: 1fr auto 1fr;
}
.top.top--navigation-left .top-inner {
  -ms-grid-columns: auto auto 1fr;
  grid-template-columns: auto auto 1fr;
}
.top.top--navigation-right .top-inner {
  -ms-grid-columns: 1fr auto auto;
  grid-template-columns: 1fr auto auto;
}
.top.top--navigation-left-logo-center .top-inner {
  -ms-grid-columns: 1fr auto 1fr;
  grid-template-columns: 1fr auto 1fr;
}
.top.top--navigation-left-logo-center .top-inner .top__left {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: center;
  justify-content: center;
  padding: 0 20px;
}
.top.top--navigation-left-logo-center .top-inner .top__middle {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: left;
  justify-content: flex-start;
}
/*======================================
  #Intersection observer hook for scroll 
======================================*/
.io-hook {
  position: absolute;
  top: 0px;
  left: 0;
  height: 1px;
  width: 1px;
  visibility: hidden;
}
.pre-top-visible .io-hook {
  top: var(--pre-top-height);
}
@media only screen and (max-width: 992px) {
  .pre-top-visible .io-hook {
    top: 0;
  }
}
/*======================================
  #Logo
======================================*/
.logo-wrap {
  height: 100%;
}
.logo {
  position: relative;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.3s ease;
  z-index: 5;
  padding: var(--logo-padding) 0;
}
.logo img {
  height: 100%;
  display: block;
  max-width: 100%;
}
.browser-safari .logo img {
  --logo-padding-total: calc(var(--logo-padding) + var(--logo-padding));
  max-height: calc(var(--header-height) - var(--logo-padding-total));
}
.top--dark .logo--on-light {
  display: none;
}
.top--dark .logo--on-dark {
  display: inline-flex;
}
.top--light .logo--on-light {
  display: inline-flex;
}
.top--light .logo--on-dark {
  display: none;
}
.top--scroll-light .logo--on-light {
  display: none;
}
.top--scroll-light .logo--on-dark {
  display: inline-flex;
}
.top--scroll-dark .logo--on-light {
  display: inline-flex;
}
.top--scroll-dark .logo--on-dark {
  display: none;
}
.scroll .top--light .logo--on-light {
  display: inline-flex;
}
.scroll .top--light .logo--on-dark {
  display: none;
}
.scroll .top--dark .logo--on-light {
  display: none;
}
.scroll .top--dark .logo--on-dark {
  display: inline-flex;
}
.browser-explorer.browser-version-9 .logo {
  position: absolute;
  top: 0;
  left: 0;
}
/*======================================
  #Main navigation
======================================*/
@media only screen and (max-width: 992px) {
  .main-nav--main {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    transform: translateX(100%);
    -webkit-overflow-scrolling: touch;
    transition: all 0.35s ease;
    visibility: hidden;
    background-color: var(--background-dark);
    top: var(--header-height);
  }
  .mobile-nav-visible {
    overflow: hidden;
  }
  .mobile-nav-visible .main-nav--main {
    transform: translateX(0);
    visibility: visible;
  }
}
/* Lists */
.main-nav__ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__ul--first {
  display: flex;
}
@media only screen and (max-width: 992px) {
  .main-nav__ul--first {
    flex-flow: row wrap;
  }
}
.main-nav__ul--second,
.main-nav__ul--third {
  position: absolute;
  min-width: 200px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.125s ease;
  background-color: var(--background-dark);
}
@media only screen and (max-width: 992px) {
  .main-nav__ul--second,
  .main-nav__ul--third {
    position: static;
    visibility: visible;
    opacity: 1;
    display: none;
    transition: none;
    box-shadow: none!important;
  }
}
@media only screen and (min-width: 992px) {
  .main-nav__ul--second,
  .main-nav__ul--third {
    display: block!important;
  }
}
.main-nav__ul--second {
  top: 100%;
  left: 0;
}
.main-nav__ul--second.go-right {
  left: auto;
  right: 0;
}
.main-nav__ul--third {
  top: 0;
  left: 100%;
}
.main-nav__ul--third.go-right {
  left: auto;
  right: 100%;
}
@media only screen and (max-width: 992px) {
  .main-nav__ul--third {
    background-color: var(--border-light) !important;
  }
}
.main-nav__ul--big {
  width: 100%;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.15);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
@media only screen and (max-width: 992px) {
  .main-nav__ul--big {
    overflow: visible;
    max-height: 100%!important;
  }
}
.top--light .main-nav__ul--second,
.top--light .main-nav__ul--third {
  background: var(--white);
  box-shadow: 0 12px 20px -6px rgba(0, 0, 0, 0.15);
}
/* Items */
.main-nav__li {
  display: block;
  position: relative;
  transition: all 0.2s ease;
}
.main-nav__li--big {
  position: static;
}
.main-nav__li:hover,
.main-nav__li.touch-open {
  background: rgba(255, 255, 255, 0.03);
}
.main-nav__li:hover > .main-nav__ul,
.main-nav__li.touch-open > .main-nav__ul {
  opacity: 1;
  z-index: 99;
  visibility: visible;
}
@media only screen and (max-width: 992px) {
  .main-nav__li {
    width: 100%;
  }
  .main-nav__li:hover,
  .main-nav__li.touch-open {
    background-color: inherit!important;
  }
}
.top--light .main-nav__li:hover {
  background: rgba(0, 0, 0, 0.02);
}
/* Links */
.main-nav__a {
  color: var(--heading-light);
  display: block;
  font-size: var(--navigation-font-size);
  font-weight: var(--navigation-font-weight);
  transition: all 0.2s ease;
  position: relative;
  white-space: nowrap;
}
.main-nav__a .fa-chevron-down {
  font-size: 50%;
  color: rgba(255, 255, 255, 0.5);
  transform: translate(0, -1px);
  width: 10px;
  text-align: center;
}
.main-nav__a:hover {
  color: var(--heading-light);
}
.main-nav__a .expand {
  display: none;
}
@media only screen and (max-width: 992px) {
  .main-nav__a {
    border-top: 1px solid var(--border-light);
    line-height: 1!important;
    padding: 15px var(--grid-gutter) !important;
  }
  .main-nav__a .fa-chevron-down,
  .main-nav__a .fa-chevron-right {
    display: none;
  }
  .main-nav__a .expand {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--border-light);
  }
  .main-nav__a .expand i {
    transition: transform 0.2s linear;
  }
  .main-nav__a .expand.open i {
    transform: rotate(45deg);
  }
}
.main-nav__ul--first > .main-nav__li > .main-nav__a {
  line-height: var(--header-height);
  padding: 0 var(--navigation-padding);
}
.main-nav__li.selected > .main-nav__a {
  color: var(--selected-nav-item) !important;
}
.main-nav__ul--second .main-nav__a {
  padding: 0.9em 1.25em;
}
.main-nav__ul--second .main-nav__a .fa-chevron-right {
  font-size: 65%;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
@media only screen and (max-width: 992px) {
  .main-nav__ul--second .main-nav__a {
    background-color: var(--border-light);
  }
}
.main-nav__li.touch-open > a .fa-chevron-down:before {
  content: "\f00d";
}
.top--light .main-nav__a {
  color: var(--heading-dark);
}
.top--light .main-nav__a:hover {
  color: var(--heading-dark);
}
.top--light .main-nav__a .fa-chevron-down,
.top--light .main-nav__a .fa-chevron-right {
  color: rgba(0, 0, 0, 0.5);
}
/* Button */
.main-nav__li--btn {
  padding: 0 0 0 10px;
  display: flex;
  align-items: center;
}
.main-nav__li--btn .button {
  padding: 0.8em 1.35em;
}
.main-nav__li--btn:hover {
  background: transparent!important;
}
@media only screen and (max-width: 992px) {
  .main-nav__li--btn {
    padding: 20px 20px 0;
    display: block;
    text-align: center;
  }
  .main-nav__li--btn .button {
    display: inline-block;
  }
}
/* Language Picker */
.main-nav__li--lang > .main-nav__a {
  padding: 0;
  width: var(--header-height);
  height: var(--header-height);
  max-width: 70px;
}
.main-nav__li--lang > .main-nav__a span {
  display: none;
}
.main-nav__li--lang > .main-nav__a img {
  max-width: 1.2em;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-nav__li--lang .main-nav__ul--second .main-nav__a {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 2em;
  white-space: nowrap;
}
.main-nav__li--lang .main-nav__ul--second .main-nav__a img {
  max-width: 1.2em;
  margin-right: 4px;
}
@media only screen and (max-width: 992px) {
  .main-nav__li--lang > .main-nav__a {
    display: flex;
    flex-direction: row;
    padding: 15px 25px;
    width: auto !important;
    height: auto !important;
    line-height: 2em;
    align-items: center;
    max-width: 100%!important;
  }
  .main-nav__li--lang > .main-nav__a span {
    display: block;
  }
  .main-nav__li--lang > .main-nav__a img {
    position: static;
    transform: none;
    margin-right: 4px;
  }
  .main-nav__li--lang .main-nav__ul--second {
    border-bottom: 1px solid var(--border-light);
  }
  .main-nav__li--lang .main-nav__ul--second .main-nav__li {
    display: block;
    border-left: 1px solid var(--border-light);
  }
  .main-nav__li--lang .main-nav__ul--second .main-nav__a {
    white-space: normal;
    line-height: 1;
  }
}
/* Mobile Contact */
.main-nav__li--contact {
  display: none;
}
@media only screen and (max-width: 992px) {
  .main-nav__li--contact {
    display: block;
    width: 50%;
    flex-grow: 1;
  }
  .main-nav__li--contact .main-nav__a {
    text-align: center;
    font-weight: var(--font-weight-normal);
  }
  .main-nav__li--contact .main-nav__a i {
    margin-right: 3px;
  }
  .main-nav__li--contact:nth-child(2) {
    border-left: 1px solid var(--border-light);
  }
  .top--light .main-nav__li--contact:nth-child(2) {
    border-left-color: var(--border-dark);
  }
}
.top--scroll-light .main-nav > ul > li > .main-nav__a {
  color: var(--heading-light);
}
.top--scroll-light .main-nav > ul > li > .main-nav__a i.fa-chevron-down {
  color: rgba(255, 255, 255, 0.5);
}
@media only screen and (max-width: 992px) {
  .top--scroll-light .main-nav > ul > li > .main-nav__a {
    color: inherit;
  }
}
.top--scroll-dark .main-nav > ul > li > .main-nav__a {
  color: var(--heading-dark);
}
.top--scroll-dark .main-nav > ul > li > .main-nav__a i.fa-chevron-down {
  color: rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 992px) {
  .top--scroll-dark .main-nav > ul > li > .main-nav__a {
    color: inherit;
  }
}
@media only screen and (max-width: 992px) {
  .top--dark .main-nav > ul > li > .main-nav__a {
    color: var(--heading-light);
  }
}
.scroll .top--light .main-nav > ul > li > .main-nav__a {
  color: var(--heading-dark);
}
.scroll .top--light .main-nav > ul > li > .main-nav__a i.fa-chevron-down {
  color: rgba(0, 0, 0, 0.5);
}
.scroll .top--dark .main-nav > ul > li > .main-nav__a {
  color: var(--heading-light);
}
.scroll .top--dark .main-nav > ul > li > .main-nav__a i.fa-chevron-down {
  color: rgba(255, 255, 255, 0.5);
}
@media only screen and (max-width: 992px) {
  .top--light .main-nav {
    background: var(--white);
  }
  .top--light .main-nav li.mobile-contact:nth-child(2) {
    border-left-color: rgba(0, 0, 0, 0.08);
  }
  .top--light .main-nav .main-nav__a .expand {
    background-color: rgba(0, 0, 0, 0.04);
  }
  .top--light .main-nav .main-nav__a {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
  }
  .top--light .main-nav .main-nav__ul--second .main-nav__a {
    background-color: rgba(0, 0, 0, 0.04);
  }
  .top--light .main-nav .main-nav__li--lang ul {
    border-bottom-color: rgba(0, 0, 0, 0.08);
  }
  .top--light .main-nav .main-nav__li--lang ul li {
    border-left-color: rgba(0, 0, 0, 0.08);
  }
  .top--light .main-nav .main-nav__ul--third {
    background-color: rgba(0, 0, 0, 0.04) !important;
  }
  .top--light .main-nav .main-nav__li:hover {
    background: inherit!important;
  }
}
.browser-explorer.browser-version-9 .main-nav {
  position: absolute;
  top: 0;
  right: 0;
}
.browser-explorer.browser-version-9 .main-nav .main-nav__li--contact {
  display: none;
}
.browser-explorer.browser-version-9 .main-nav ul li {
  display: inline-block;
}
/*======================================
  #Search
======================================*/
.main-nav .toggle-search .main-nav__a {
  width: var(--header-height);
  height: var(--header-height);
  font-size: 1.0625rem !important;
  text-align: center;
  padding: 0!important;
  max-width: 70px;
}
.mobile-actions {
  display: none;
}
@media only screen and (max-width: 992px) {
  .mobile-actions {
    display: block;
  }
}
.mobile-actions ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.mobile-actions ul li a {
  font-size: 1.3rem !important;
  display: flex;
  color: var(--heading-light);
  line-height: 1;
  align-items: center;
  justify-content: center;
  width: var(--header-height);
  height: var(--header-height);
}
.top--light .mobile-actions ul li a {
  color: var(--heading-dark);
}
.top--scroll-dark .mobile-actions ul li a {
  color: var(--heading-dark);
}
.top--scroll-light .mobile-actions ul li a {
  color: var(--heading-light);
}
.scroll .top--light .mobile-actions ul li a {
  color: var(--heading-dark);
}
.scroll .top--dark .mobile-actions ul li a {
  color: var(--heading-light);
}
/*======================================
  #Toggle mobile nav
======================================*/
.hamburger {
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  width: var(--header-height);
  height: var(--header-height);
  max-width: 40px;
}
.mobile-nav-visible .hamburger .hamburger-inner,
.mobile-nav-visible .hamburger .hamburger-inner::before,
.mobile-nav-visible .hamburger .hamburger-inner::after {
  width: 30px;
}
.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 28px;
  height: 2px;
  background-color: var(--white);
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner {
  display: block;
  top: 50%;
  width: 78%;
  margin-top: 2px;
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -8px;
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger-inner::after {
  bottom: -8px;
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.mobile-nav-visible .hamburger-inner {
  transform: rotate(225deg) scale(0.85);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.mobile-nav-visible .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.mobile-nav-visible .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.top--light .hamburger-inner,
.top--light .hamburger-inner::before,
.top--light .hamburger-inner::after {
  background-color: var(--heading-dark);
}
.top--scroll-dark .hamburger-inner,
.top--scroll-dark .hamburger-inner::before,
.top--scroll-dark .hamburger-inner::after {
  background-color: var(--heading-dark);
}
.top--scroll-light .hamburger-inner,
.top--scroll-light .hamburger-inner::before,
.top--scroll-light .hamburger-inner::after {
  background-color: var(--heading-light);
}
.scroll .top--light .hamburger-inner,
.scroll .top--light .hamburger-inner::before,
.scroll .top--light .hamburger-inner::after {
  background-color: var(--heading-dark);
}
.scroll .top--dark .hamburger-inner,
.scroll .top--dark .hamburger-inner::before,
.scroll .top--dark .hamburger-inner::after {
  background-color: var(--heading-light);
}
/*======================================
  #Pre top
======================================*/
.pre-top {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 30px;
  font-size: 0.8125rem;
  background-color: var(--white);
  z-index: 600;
  color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 0 1px var(--border-dark);
}
.pre-top a {
  color: rgba(0, 0, 0, 0.9);
}
@media only screen and (max-width: 992px) {
  .pre-top {
    display: none;
  }
}
.pre-top.pre-top--dark {
  box-shadow: 0 0 0 1px var(--border-light);
  color: rgba(255, 255, 255, 0.9);
  background-color: var(--background-dark);
}
.pre-top.pre-top--dark a {
  color: rgba(255, 255, 255, 0.9);
}
.pre-top.pre-top--dark ul.pre-top__list ul {
  box-shadow: none;
  background-color: var(--background-dark);
}
.pre-top.pre-top--dark ul.pre-top__list ul li:hover {
  background-color: rgba(255, 255, 255, 0.03);
}
.pre-top.pre-top--dark .pre-top__list li ul li a {
  color: rgba(255, 255, 255, 0.7) !important;
}
.pre-top.pre-top--scroll-bg {
  background: transparent!important;
}
.pre-top__inner {
  display: flex;
  justify-content: space-between;
}
.pre-top .pre-top__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-weight: var(--navigation-font-weight);
}
.pre-top .pre-top__list--right {
  margin-left: auto;
}
.pre-top .pre-top__list--left > li {
  margin-right: 1em;
}
.pre-top .pre-top__list--left > li ul {
  left: 0;
}
.pre-top .pre-top__list--right > li {
  margin-left: 1em;
}
.pre-top .pre-top__list--right > li ul {
  right: 0;
}
.pre-top .pre-top__list li {
  position: relative;
  line-height: 30px;
}
.pre-top .pre-top__list li a {
  display: block;
}
.pre-top .pre-top__list li a .fa-caret-down {
  opacity: 0.5;
}
.pre-top .pre-top__list li ul {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  background: var(--white);
  min-width: 170px;
  top: 100%;
  box-shadow: 0 8px 20px -6px rgba(0, 0, 0, 0.15);
  padding: 5px 0;
  visibility: hidden;
  opacity: 0;
  margin-top: 1px;
  transition: all 0.2s ease;
}
.pre-top .pre-top__list li ul li a {
  line-height: 1;
  padding: 10px 15px;
  color: rgba(0, 0, 0, 0.7) !important;
}
.pre-top .pre-top__list li ul li a:hover {
  background: rgba(0, 0, 0, 0.02);
  color: inherit;
}
.pre-top .pre-top__list > li:hover > a,
.pre-top .pre-top__list .touch-open > a {
  opacity: 0.7;
  color: inherit;
}
.pre-top .pre-top__list > li:hover > ul,
.pre-top .pre-top__list .touch-open > ul {
  visibility: visible;
  opacity: 1;
}
.pre-top.pre-top--scroll-dark {
  color: rgba(0, 0, 0, 0.9) !important;
  box-shadow: 0 0 0 1px var(--border-dark);
}
.pre-top.pre-top--scroll-dark a {
  color: rgba(0, 0, 0, 0.9) !important;
}
.pre-top.pre-top--scroll-light {
  color: rgba(255, 255, 255, 0.9) !important;
  box-shadow: 0 0 0 1px var(--border-light);
}
.pre-top.pre-top--scroll-light a {
  color: rgba(255, 255, 255, 0.9) !important;
}
